.orders{
    margin: 8% 0% 2% 20%;
    display: flex;
    color: black;
    width:80% ;
    position: relative;
    top:1%;
    z-index: 1;  
}
@media only screen and (max-width: 600px) {
    .orders{
        width:80%;
        display: flex;
        flex-direction: column; 
        display: none;
    }
}